table{
	width: 60%;
	margin: auto;
	text-align: center;
}

table > tr > td > p > strong{
	width: 50px;
}
.nav-link{
	font-size:30px;
	color: #bbb;
}

.sub_check{
    flex:left;
}
.main_check{
    padding-left:22px;
    padding-right:22px;
    width:100%;
    display:flex;
    justify-content:space-around;
}

.submsg{
	font-size:30px;
	margin-left:15px;
	width:100%;
	padding-left:22px;
	padding-right:22px;
	justify-content:space-around;
}


.sub_check p{
    margin-left:15px;
    font-size:20px;
    font-weight:bold;
}

